.paginateActive , .paginate{
    position: fixed;
    bottom: 20%;
    right: 2rem;
    z-index: 10;
}

.paginateActive .pagination{
    display: block;
    margin: 12px;
    background-color: white;
    width: .5rem;
    height: .5rem;
    transition: 700ms;
    transform: rotate(135deg);
    border: 2px solid white;
    opacity: 1;
}
.paginate .pagination{
    display: block;
    margin: 12px;
    background-color: #7C4747;
    width: .5rem;
    height: .5rem;
    transition: 700ms;
    transform: rotate(135deg);
    border: 2px solid #7C4747;
    opacity: 1;
}
.paginateActive .paginationActive {
    display: block;
    margin: 12px;
    width: .7rem;
    height: .7rem;
    background-color: transparent;
    border: 2px solid white;
    transform: rotate(0deg) translate(-13%);
    border-radius: 0;
    transition: 0;
    transition: 200ms;
  }
.paginate .paginationActive {
    display: block;
    margin: 12px;
    width: .7rem;
    height: .7rem;
    background-color: transparent;
    border: 2px solid #7C4747;
    transform: rotate(0deg) translate(-13%);
    border-radius: 0;
    transition: 0;
    transition: 200ms;
  }

  @media (max-width: 600px){
    .paginateActive , .paginate{
        position: fixed;
        bottom: 50%;
        top: 10px;
        left: inherit;
        right: 25%;
        z-index: 1200;
        display: flex;
        flex-direction: row;
    }
  }